 {% extends 'layout.html' %}

 {% block body %}

 <div class="bg-body-tertiary p-5 rounded text-center" >
    <h1>مدرس رياضيات واحصاء 96604876 للجامعات</h1>
     
        <p class="lead ">مدرس رياضيات  وإحصاء للجامعات 96604876:الكويت - الأمريكية - الشرق الاوسط  - الاسترالية - الجامعة العربية المفتوحة كفاءة عالية فى توصيل المعلومات والشرح بطريقة سهلة وبسيطة  مواد الرياضيات  #Calculus 1 , 2 , 3 #Linear algebra #Differential Ma 266 #Differential Equations Calculus 1 , 2 , 3 Linear algebra Differential Ma 266 Differential Equations للجامعات :  #الكويت #kuwait #Aum #Auk #Acm #Ack #Gustالكويت  kuwait  Aum Auk Acm Ack Gust للتواصل : 96604876
        </p>
    
    <a class="btn btn-lg btn-primary" href="https://api.whatsapp.com/send/?phone=96596604876&text&app_absent=0" role="button">للتواصل واتساب اضغط هنا &raquo;</a>
  </div>
{% endblock %}